<%# show single artist %>

<h2> Artist: <%= @artist.name %></h2>

<h3>Artist Albums</h3>

  <% if @artist.albums %>
    <ul>
      <% @artist.albums.each do |album| %>
        <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no albums listed for this artist yet.</p>
  <% end %>

  <form action="/artists/<%= @artist.id %>" method="post">
   <div class="form-group">
     <label for="album_name">Album name</label>
     <input id="album_name" name="album_name" class="form-control" type="text">
   </div>
   <button type="submit" class="btn">Add album</button>
  </form> 

  <p><a href="/artists/<%= @artist.id %>/edit">Edit artist</a></p>
  <p><a href="/artists">Return to artist list</a></p>